<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Py Blog | Tudo sobre python</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body>
    {% include 'header.html' %}
    <main class="mt-40 px-5 container mx-auto">
        {% block content %}
        {% endblock %}
    </main>
    {% include 'footer.html' %}

    <script>
        const codeTags = document.querySelectorAll("div > code");
        codeTags.forEach(code => {
            code.classList.add("text-white")
        })
    </script>
</body>
</html>