{% extends 'base.html' %}

{% block content %}
<section class="mx-auto max-w-4xl mt-5 flex flex-col gap-4">
    <h1 class="text-4xl font-bold">{{ post.title }}</h1>
    <h2 class="text-2xl">{{ post.description}}</h2>
    <div class="flex justify-between my-5">
        <p class="bg-indigo-700 text-white p-1 rounded">{{ post.author }}</p>
        <p>{{ post.pub_date|date:"d/m/Y" }} | {{post.pub_date.time}}</p>
    </div>
    <div class="prose-lg prose-h1:text-4xl prose-headings:text-zinc-600 prose-headings:font-bold">
        {{ post.content|safe }}
    </div>
</section>

{% endblock %}