<header class="bg-white p-5 border-b flex justify-around fixed top-0 w-full z-50">
    <a class="bg-blue-600 text-white p-2 text-xl font-bold rounded" href="{% url 'blog:index' %}">Py Blog</a>
    <div class="flex items-center gap-2 border-2 px-2 rounded hover:border-gray-500">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
        <input class="border-none" type="text" name="pesquisa" id="" placeholder="Pesquisar...">
    </div>
</header>